﻿@model RaceDayBoardViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Race Day</h1>
</div>

<div class="row">
    <ul>
        @if (Model == null || Model.Races == null || Model.Races.Count == 0)
        {
            <li><i>There are currently no races available</i></li>
        }
        else
        {
            foreach (Race<IRacer> race in Model.Races)
            {
                <li>
                    @PrintRaceInformation(race)
                </li>
            }
        }
    </ul>
</div>

@helper PrintRaceInformation(Race<IRacer> race)
{
    <div class="form-group">
        <label>Status:</label>
        <p>@(FrontendHelper.GetEnumDescription<RaceStatus>(race.CurrentStatus))</p>
    </div>
    <div class="form-group">
        <label>Stake:</label>
        <p>@race.TotalBetsAmount</p>
    </div>
    <div class="form-group">
        <label>Racers:</label>
        <ul>
            @if (race.Racers == null && race.Racers.Count == 0)
            {
                <li><i>There are currently no racers information available</i></li>
            }
            else
            {
                foreach(IRacer racer in race.Racers)
                {
                    <li>
                        <span>Racer Name: @racer.Name</span> | <span>Total Bets Count: @racer.BetsCount</span> | <span>Winning Payout: $@racer.Winner_Payout</span>
                    </li>
                }
            }
        </ul>
    </div>
}